a.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-past.fc-timegrid-event.fc-v-event,
a.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-today.fc-event-future.fc-timegrid-event.fc-v-event {
    border: 1px #EA4361 solid;
}

.fc-daygrid-event-dot {
    border: #000000 4px solid;
    border-radius: calc(var(--fc-daygrid-event-dot-width)/2);
    box-sizing: content-box;
    height: 0px;
    margin: 0px 4px;
    width: 0px;
}

.fc .fc-highlight {
    background-color: #ea436226;
}

.fc-event-main {
    font-size: 16px;
    font-weight: 500;
    background-color: #EA4361;
}

.fc-scrollgrid-section-header th .fc-scroller-harness .fc-scroller {
    overflow: hidden;
}

.fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural {
    display: none;
}